<div class="text-center" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url, style:'height:400px;widht:300px;' %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.firstname %>
</p>

<%= link_to 'Edit', edit_post_path(@post),class:'btn btn-info' %> |
<%= link_to 'Back', posts_path, class:'btn btn-success' %>
</div>