<!DOCTYPE html>
<html>
  <head>
    <title>Appfacebookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body style="background-color:#e9ebee">
  </style>
  <nav class="navbar navbar-light" style="background-color:#3b5998">
  <p class="navbar-brand" style="color:white"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp facebook</p>
  <form class="form-inline">
  <% if logged_in? %>
  <button class="btn btn-outline-success" type="submit"><%= link_to "Profile", user_path(current_user.id) %></button>
    <button class="btn btn-outline-success" type="submit"><%= link_to "Logout", session_path(current_user.id), method: :delete %></button>
    <% else %>
    <button class="btn btn-outline-success" type="submit"><%= link_to "Sign up", new_user_path %></button>
    <button class="btn btn-outline-success" type="submit"><%= link_to "Login", new_session_path %></button>
    <% end %>
    </form>
</nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    <br><br><br><br><br>
  <center>
  <nav class="navbar navbar-light bg-light fixed-bottom" style="width:100%; text-align:center; background:white">
    <a class="navbar-brand" href="#" >&copy copyright DIC Student from Rwanda designed by benie</a>
  </nav></center>

  </body>
</html>
